:root {
  /* Colors */

  /* Fonts */
  --font-family-body: "Poppins", sans-serif;
  --font-family-heading: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login_container {
  display: none;
}
.home_container {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login_card_container {
  height: 75vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -3px -3px 5px hsla(0, 0%, 100%, 80%),
    3px 3px 15px rgba(0, 0%, 0%, 0.5);
  background: linear-gradient(
    to top,
    hsl(48, 6%, 100%) 0%,
    hsl(60, 6%, 96%) 31%,
    hsl(40, 9%, 108%) 75%,
    hsl(60, 4%, 96%) 100%
  );
  border-radius: 20px;
  opacity: 0.85;
}

.login_card {
  height: 95%;
  width: 85%;
}

.login_form_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login_form {
  height: 50%;
  width: 100%;
}

.login_detail_container {
  justify-content: space-between;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_email_container,
.login_password_container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.input_box {
  height: 2.5rem;
  border: 1px solid lightgray;
  border-radius: 25px;
  padding-left: 1rem;
}

.login_btn_container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.login_btn {
  font-family: var(--font-family-heading);
  border: 1px solid darkturquoise;
  cursor: pointer;
}

.login_btn:hover {
  background-color: darkturquoise;
  color: #fff;
}

.register {
  text-decoration: none;
  color: darkturquoise;
}
