body {
  font-family: 'Roboto Condensed', sans-serif;
}

.home_container {
  background-color: #FFC2C2;
}

.about_container {
  background-color: #FF9D9D;
}

.benefits_container {
  background-color: #FFC2C2;
}

.footer_container {
  background-color: #010A43;
}

.navbar-nav>li {
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
  padding-left: 20px;
}
